.features {
  display: flex;
  /* align-items: center; */
  /* padding: 2rem 0; */
  width: 100%;
  /* min-height: 800px; */
}

.featureA {
  color: var(--ifm-heading-color) !important;
  text-decoration: none !important;
  display: flex;
  border-radius: 16px;
  border: 1px solid var(---, #999);
  /* padding: 55px; */
  /* margin-top: 32px; */
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.featureH3 {
  color: var(--ifm-feature-h3-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.featureP {
  color: var(--ifm-feature-p-color);
  margin-bottom: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 342px;
}
.homepageResource {
  text-align: center;
  /* font-size: 40px;
  line-height: 56px;
  font-weight: 600; */
  color: --ifm-heading-color;
}
