.features {
  display: flex;
  /* align-items: center; */
  padding: 2rem 0;
  width: 100%;
  min-height: 800px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.homepageResource {
  text-align: center;
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  color: --ifm-heading-color;
}