@font-face {
  font-family: "Denim INK";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("DenimINK-Bold.woff2") format("woff2"),
    url("DenimINK-Bold.woff") format("woff"),
    url("DenimINK-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Denim INK";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("DenimINK-BoldItalic.ttf") format("ttf");
}
@font-face {
  font-family: "Denim INK";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("DenimINK-Heavy.otf") format("ttf");
}
@font-face {
  font-family: "Denim INK";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("DenimINK-Light.otf") format("ttf");
}
@font-face {
  font-family: "Denim INK";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("DenimINK-Medium.woff2") format("woff2"),
    url("DenimINK-Medium.woff") format("woff"),
    url("DenimINK-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Denim INK";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("DenimINK-Regular.woff2") format("woff2"),
    url("DenimINK-Regular.woff") format("woff"),
    url("DenimINK-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Denim INK";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("DenimINK-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Denim INK";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("DenimINK-WDSemiBold.otf") format("opentype");
}