/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 .heroBanner {
  /* padding: 4rem 0; */
  position: relative;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08080c;
}

.headerContainer {
  position: absolute;
  width: 33%;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

