/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 .heroBanner {
  /* padding: 4rem 0; */
  position: relative;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a080f;
}

.headerContainer {
  position: absolute;
  width: 33%;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bg {
  /* background: linear-gradient(0deg, #664EF1 0%, #3A2E83 38.91%, #17132B 100%); */
  /* background-color: var(--ifm-bg-color); */
  background-image: url(/img/bg.svg);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 115px;
  margin-top: 0;
  padding-top: 0;


  @media (min-width: 375px){
    /* background-image: url(/img/bg5.svg); */
    height: 115px;
  }

  @media (min-width: 425px){
    /* background-image: url(/img/bg4.svg); */
    height: 130px;
  }

  @media (min-width: 768px){
    /* background-image: url(/img/bg4.svg); */
    height: 235px;
  }

  @media (min-width: 1080px){
    /* background-image: url(/img/bg3.svg); */
    height: 330px;
  }

  @media (min-width: 1440px){
    /* background-image: url(/img/bg2.svg); */
    height: 440px;
  }

  @media (min-width: 1920px){
    /* background-image: url(/img/bg1.svg); */
    height: 440px;
  }

  @media (min-width: 2560px){
    background-image: url(/img/bg.svg);
    height: 440px;
  }
}