/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 html body {
  font-family: 'InterDisplay,Inter Variable';
 }
 
 

 html[data-theme='light'] {
  
  --ifm-color-primary: #14A800;
  --ifm-color-primary-dark: #128f00;
  --ifm-color-primary-darker: #118700;
  --ifm-color-primary-darkest: #0e7000;
  --ifm-color-primary-light: #16c100;
  --ifm-color-primary-lighter: #17c900;
  --ifm-color-primary-lightest: #3ad41a;

  
  --ifm-heading-color: #0E0E11;  
  --ifm-color-gray-700: #0E0E11;
  --ifm-font-color-base: #0E0E11;
  
  
  --ifm-color-secondary: #636367;  
  --ifm-color-tertiary: #8C8C91;   
  --ifm-color-quaternary: #BBBBC2; 

  
  --ifm-background-color: #FFFFFF;  
  --ifm-card-background: #F9F9FA;   
  --ifm-bg-color: #FFFFFF;

  
  --ifm-border-color: #E8E8EB;      

  
  --ifm-menu-color-background-active: #F9F9FA;
  --ifm-menu-color-background-hover: #F9F9FA;
  --ifm-menu-color: #636367;  

  --ifm-color-emphasis-600: #000;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-footer-background-color: #fff;
  --ifm-footer-color: #636367;

  --ifm-container-width-xl: 1200px;

  --ifm-navbar-link-color: #0E0E11;
  --ifm-feature-h3-color: #0E0E11;
  --ifm-feature-p-color: #636367;

  --border-hover-shadow: rgba(20, 168, 0, 0.10);
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M4 10L8 6L12 10" stroke="%23636367"></path></svg>');
}
// .menu__link--sublist-caret:after {
//   opacity: 0.5;
// }
html[data-theme='light'] .navbar-sidebar__brand {
  background-color: #FFF;
}



html[data-theme='dark'] {
  
  --ifm-color-primary: #1BE500;
  --ifm-color-primary-dark: #18cf00;
  --ifm-color-primary-darker: #16c300;
  --ifm-color-primary-darkest: #12a100;
  --ifm-color-primary-light: #32e91a;
  --ifm-color-primary-lighter: #3feb26;
  --ifm-color-primary-lightest: #5def47;

  
  --ifm-heading-color: #FFFFFF;
  --ifm-color-gray-300: #FFFFFF;
  --ifm-font-color-base: #FFFFFF;

  
  --ifm-color-secondary: #BCBDBB;
  --ifm-color-tertiary: #8C8C91;
  --ifm-color-quaternary: #636367;

  
  --ifm-background-color: #0A080F;
  --ifm-card-background: #1A1A1A;
  --ifm-bg-color: #0A080F;

  
  --ifm-border-color: #21231C;

  
  --ifm-menu-color-background-active: rgba(27, 229, 0, 0.1);
  --ifm-menu-color-background-hover: rgba(27, 229, 0, 0.05);
  --ifm-menu-color: #BCBDBB;

  --ifm-color-emphasis-600: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-footer-background-color: #0A080F;
  --ifm-footer-color: #636367;

  --ifm-container-width-xl: 1200px;

  --ifm-navbar-link-color: #FFFFFF;
  --ifm-feature-h3-color: #FFFFFF;
  --ifm-feature-p-color: #BCBDBB;

  --border-hover-shadow: rgba(27, 229, 0, 0.30);

  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M4 10L8 6L12 10" stroke="%23BCBDBB"></path></svg>');
}

.menu__link--active:not(.menu__link--sublist) {
  color: #14A800;  
  background-color: transparent;
}
.menu__link:hover {
  color: #14A800;  
}
[data-theme=light] .menu__list-item--collapsed .menu__link:hover {
  color: #14A800;  
}
[data-theme=dark] .menu__list-item--collapsed .menu__link:hover {
  color: #1BE500;  
}
[data-theme=dark] .menu__link--active:not(.menu__link--sublist) {
  color: #1BE500;  
  background-color: transparent;
}
[data-theme=dark] .menu__link:hover {
  color: #1BE500;  
}

.navbar.navbar--fixed-top {
  border-bottom: 1px solid #E8E8EB;  
}
[data-theme='dark'] .navbar.navbar--fixed-top {
  border-bottom: 1px solid #21231C;  
}

.menu__link.menu__link--sublist.menu__link--sublist-caret {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.theme-doc-sidebar-item-link-level-4.menu__list-item .menu__link {
  display: block;
  font-size: 16px;
  font-weight: 400;  
  line-height: 1.5;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.theme-doc-sidebar-item-link-level-3.menu__list-item .menu__link {
  display: block;
  font-size: 16px;
  font-weight: 400;  
  line-height: 1.5;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.theme-doc-sidebar-item-link-level-2.menu__list-item .menu__link {
  display: block;
  font-size: 16px;
  font-weight: 500;  
  line-height: 1.5;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.theme-doc-sidebar-item-link-level-1.menu__list-item .menu__link {
  display: block;
  font-size: 16px;  
  font-weight: 600;
  line-height: 1.5;
  padding-top: 12px;  
  padding-bottom: 12px;  
  margin-top: 4px;
  margin-bottom: 4px;
}
.menu__link {
  line-height: 1.75;
  color: var(--ifm-menu-color);
  flex: 1;
}


[data-theme='dark'] {
  .theme-doc-sidebar-item-link-level-2.menu__list-item, 
  .theme-doc-sidebar-item-link-level-3.menu__list-item, 
  .theme-doc-sidebar-item-link-level-4.menu__list-item,
  .theme-doc-sidebar-item-category-level-1 .menu__list-item--collapsed {
    color: #BCBDBB;  
    & .menu__link {
      color: #BCBDBB;
    }
    & .menu__link:hover {
      color: #1BE500;  
    }
    & .menu__link.menu__link--active {
      color: #1BE500;  
    }
  }
}
[data-theme='light'] {
  .theme-doc-sidebar-item-link-level-2.menu__list-item,
  .theme-doc-sidebar-item-link-level-3.menu__list-item,
  .theme-doc-sidebar-item-link-level-4.menu__list-item,
  .theme-doc-sidebar-item-category-level-1 .menu__list-item--collapsed {
    color: #636367;  
    & .menu__link {
      color: #636367;
    }
    & .menu__link:hover {
      color: #14A800;  
    }
    & .menu__link.menu__link--active {
      color: #14A800;  
    }
  }
}

[data-theme='light'] .menu__link.menu__link--sublist.menu__link--sublist-caret {
  color: #636367;  
}
[data-theme='dark'] .menu__link.menu__link--sublist.menu__link--sublist-caret {
  color: #BCBDBB;  
}
[data-theme='light'] .theme-doc-sidebar-item-category-level-1 .menu__list-item-collapsible {
  color: #636367;  
  & .menu__link:hover {
    color: #14A800;  
  }
}
[data-theme='dark'] .theme-doc-sidebar-item-category-level-1 .menu__list-item-collapsible {
  color: #BCBDBB;  
  & .menu__link:hover {
    color: #1BE500;  
  }
}

.feature-p, .menu__list .menu__link.menu__link--sublist.menu__link--sublist-caret,
.menu__list .theme-doc-sidebar-item-category-level-1 .menu__list-item--collapsed .menu__link,
.menu__list .theme-doc-sidebar-item-link-level-2.menu__list-item .menu__link,
.menu__list .theme-doc-sidebar-item-link-level-3.menu__list-item .menu__link,
.menu__list .theme-doc-sidebar-item-link-level-4.menu__list-item .menu__link {
  display: flex;
}

.main-wrapper,
.container {
  min-height: 100%;
}
.main-wrapper,
.container {
  min-height: 100%;
}

.footer__links {
  display: flex;
}
.footer__col:nth-child(1) {
  flex: 3;
}
.footer__col:nth-child(2) {
  flex: 3;
}
.footer__col:nth-child(3) {
  flex: 1;
}
.footer__bottom {
  margin-top:  48px;
}

@media screen and (max-width: 996px) {
  .navbar__logo {
    display: flex;
    align-items: center;
  }
  .navbar__logo img {
    width: 70%;
  }
}

[data-theme='light'] #__docusaurus {
  background-color: #FFFFFF;  
}
[data-theme='light'] .navbar {
  background: #FFFFFF;  
  box-shadow: none;
}
[data-theme='light'] .footer {
  background-color: #FFFFFF !important;  
  box-shadow: 0px -1px 0px 0px #E8E8EB !important;  
}
[data-theme='light'] .theme-doc-sidebar-container {
  gap: 10px;
  flex-shrink: 0;
  background-color: #FFFFFF !important;
  border-right: 1px solid #E8E8EB !important;
}
[data-theme='light'] .docSidebarContainer_node_modules-\@docusaurus-theme-classic-lib-theme-DocPage-Layout-Sidebar-styles-module {
  background-color: #FFFFFF !important;
  border-right: 1px solid #E8E8EB !important;
}
[data-theme='light'] .lightToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
  display: none !important;
  cursor: pointer !important;
}
[data-theme='light'] .darkToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
  display: block !important;
  cursor: pointer !important;
}
[data-theme='light'] .darkToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module svg {
  color: #000 !important;
}
[data-theme='light'] .clean-btn.navbar-sidebar__close svg {
  color: #000 !important;
}
[data-theme='light'] .clean-btn.navbar-sidebar__close svg {
  color: #000 !important;
}
[data-theme='dark'] .lightToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
  display: block !important;
  cursor: pointer !important;
}
[data-theme='dark'] .darkToggleIcon_node_modules-\@docusaurus-theme-classic-lib-theme-ColorModeToggle-styles-module {
  display: none !important;
  cursor: pointer !important;
}

[data-theme='dark'] #__docusaurus {
  background-color: #0E0E11;
}
[data-theme='dark'] .navbar {
  background-color: #18191B !important;
  border-bottom: 1px solid #303035 !important;
  box-shadow: none;
}
[data-theme='dark'] .footer {
  background-color: #18191B !important;
  border-top: 0.5px solid #303035 !important;
}
[data-theme='dark'] .theme-doc-sidebar-container {
  background-color: #18191B !important;
  border-right: 1px solid #303035 !important;
}

@media (max-width: 996px) {
  .features_src-components-HomepageFeatures-styles-module .col {
    --ifm-col-width: 50% !important;
  }
}

@media (max-width: 426px) {
  .col {
    --ifm-col-width: 100% !important;
  }
}

.theme-doc-sidebar-item-link-level-2 {
  font-size: 16px;
  font-weight: 600;
  // color: hsl(var(--morui-title-1));
}
// .navbar-sidebar button.clean-btn svg, .navbar__items button.clean-btn svg {
//   color: #fff;
// }
.menu__link--sublist-caret:after {
  min-width: 13px;
}
.menu__caret:before, .menu__link--sublist-caret:after {
  width: 13px;
  height: 13px;
}
[data-theme='dark'] button.clean-btn svg:nth-child(1) {
  display: block !important;
}
[data-theme='dark'] button.clean-btn svg:nth-child(2) {
  display: none !important;
}
[data-theme='light'] button.clean-btn[aria-live="polite"] svg:nth-child(1) {
  display: none !important;
}
[data-theme='light'] button.clean-btn[aria-live="polite"] svg:nth-child(2) {
  display: block !important;
}
.menu__link .menu__link--sublist.menu__link--sublist-caret {
  font-size: 16px;
  font-weight: 600;
}
.navbar__logo img {
height: 32px;
}
[data-theme='light']  .morph-logo {
  background-size: 160px 25px;
  background-image: url(/logo/LogoMorphWhite-summary.svg);
  margin-left: -24px;
}

[data-theme='dark']  .morph-logo {
  background-size: 160px 25px;
  background-image: url(/logo/LogoMorphWhite-summary.svg);
  margin-left: -24px;
}
 

.hero-banner {
  
  position: relative;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a080f;
}

.header-bg {
  background-image: url(/img/bg.svg);
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 110px;
  margin-top: -10px;
  padding-top: 0;
}

@media (min-width: 375px){
  .header-bg {
  height: 115px;
  }
}

@media (min-width: 425px){
  .header-bg {
  height: 130px;
  }
}

@media (min-width: 768px){
  .header-bg {
  height: 235px;
  }
}

@media (min-width: 1080px){
  .header-bg {
  height: 330px;
  }
}

@media (min-width: 1440px){
  .header-bg {
  height: 440px;
  }
}

@media (min-width: 1920px){
  .header-bg {
  height: 440px;
  }
}

@media (min-width: 2560px){
  .header-bg {
    height: 440px;
  }
}




.features {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}

.feature-a {
  color: var(--ifm-heading-color) !important;
  text-decoration: none !important;
  display: flex;
  border-radius: 8px;  
  border: 1px solid #E8E8EB;  

  &:hover {
    border-radius: 8px;
    border: 1px solid var(--ifm-color-primary);
    background: var(--ifm-footer-background-color);
    box-shadow: 0px 0px 40px 0px var(--border-hover-shadow);
  }
}

[data-theme='dark'] .feature-a {
  border: 1px solid #21231C;  
}

.feature-h3 {
  color: var(--ifm-feature-h3-color);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.feature-p {
  color: var(--ifm-feature-p-color);
  margin-bottom: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  max-width: 342px;
}
.homepage-resource {
  text-align: center;
  color: --ifm-heading-color;
}


.green-bg {
  background: linear-gradient(180deg, #A3FE76 -24.11%, #F2F7F2 100%);
  // linear-gradient(180deg, color(display-p3 0.722 0.988 0.529) -24.11%, color(display-p3 0.953 0.969 0.949) 100%);
}
.yellow-bg {
  background: linear-gradient(180deg, #FFEB69 -24.11%, #F2F7F2 100%);
  // linear-gradient(180deg, color(display-p3 0.988 0.925 0.490) -24.11%, color(display-p3 0.953 0.969 0.949) 100%);
}
.pink-bg {
  background: linear-gradient(180deg, #FFD6EF -24.11%, #F2F7F2 100%);
  // linear-gradient(180deg, color(display-p3 0.976 0.847 0.933) -24.11%, color(display-p3 0.953 0.969 0.949) 100%);
}
.purple-bg {
  background: linear-gradient(180deg, #CDC5FF -24.11%, #F3F7F2 100%);
  // linear-gradient(180deg, color(display-p3 0.976 0.847 0.933) -24.11%, color(display-p3 0.953 0.969 0.949) 100%);
}
.footer__link-item {
  color: #fff;
}
.footer-bg {
  background-image: url('/lottie/bg-logo.svg');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: 5% center;
}


.theme-doc-sidebar-item-link-level-1.menu__list-item .menu__link.menu__link--active:not(.menu__link--sublist) {
  background-color: rgba(20, 168, 0, 0.1);  
  color: #14A800;  
  font-weight: 500;
  border-radius: 8px;  
}
[data-theme='dark'] .theme-doc-sidebar-item-link-level-1.menu__list-item .menu__link.menu__link--active:not(.menu__link--sublist) {
  background-color: rgba(27, 229, 0, 0.1);  
  color: #1BE500;  
  font-weight: 500;
  border-radius: 8px;  
}
.theme-doc-sidebar-item-link-level-1.menu__list-item .menu__link:hover {
  color: #14A800;  
  background-color: rgba(20, 168, 0, 0.05);  
  border-radius: 8px;
}
[data-theme='dark'] .theme-doc-sidebar-item-link-level-1.menu__list-item .menu__link:hover {
  color: #1BE500;  
  background-color: rgba(27, 229, 0, 0.05);  
  border-radius: 8px;
}
.theme-doc-sidebar-item-link-level-1.menu__list-item .menu__link {
  font-family: "Inter Display", "Inter Variable", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;  
  line-height: 1.5;  
}

.menu__list .menu__link.menu__link--sublist.menu__link--sublist-caret,
.menu__list .theme-doc-sidebar-item-link-level-2.menu__list-item .menu__link,
.menu__list .theme-doc-sidebar-item-link-level-3.menu__list-item .menu__link,
.menu__list .theme-doc-sidebar-item-link-level-4.menu__list-item .menu__link,
.menu__list .theme-doc-sidebar-item-category-level-1 .menu__list-item--collapsed .menu__link {
  font-weight: 400;
}
.menu__list .theme-doc-sidebar-item-link-level-2.menu__list-item .menu__link.menu__link--active,
.menu__list .theme-doc-sidebar-item-link-level-3.menu__list-item .menu__link.menu__link--active,
.menu__list .theme-doc-sidebar-item-link-level-4.menu__list-item .menu__link.menu__link--active,
.menu__list .theme-doc-sidebar-item-category-level-1 .menu__list-item--collapsed .menu__link.menu__link--active {
  color: #14A800;  
  font-weight: 500;
  background-color: rgba(20, 168, 0, 0.1);
  border-radius: 8px;
}
[data-theme='dark'] .menu__list .theme-doc-sidebar-item-link-level-2.menu__list-item .menu__link.menu__link--active,
[data-theme='dark'] .menu__list .theme-doc-sidebar-item-link-level-3.menu__list-item .menu__link.menu__link--active,
[data-theme='dark'] .menu__list .theme-doc-sidebar-item-link-level-4.menu__list-item .menu__link.menu__link--active,
[data-theme='dark'] .menu__list .theme-doc-sidebar-item-category-level-1 .menu__list-item--collapsed .menu__link.menu__link--active {
  color: #1BE500;  
  font-weight: 500;
  background-color: rgba(27, 229, 0, 0.1);
  border-radius: 8px;
}

/* Navbar active link styling */
.navbar__link--active {
  color: var(--ifm-color-primary);
  font-weight: 600;
}

[data-theme='dark'] .navbar__link--active {
  color: #1BE500;
}

/* Sidebar icon links */
.sidebar-icon-link {
  margin: 0;
  padding: 0;
}

.menu__link--icon {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--ifm-menu-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--ifm-menu-color-background-hover);
    color: var(--ifm-color-primary);
    text-decoration: none;
  }
}

.menu__link-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.menu__link-external {
  width: 12px;
  height: 12px;
  margin-left: auto;
  opacity: 0.5;
}

[data-theme='dark'] .menu__link--icon {
  color: var(--ifm-menu-color);

  &:hover {
    color: #1BE500;
  }
}

[data-theme='dark'] .menu__link-icon {
  filter: brightness(0) invert(1);
}

/* Sidebar category borders */
.theme-doc-sidebar-item-category-level-1 {
  border-top: 1px solid #E8E8EB;
  padding-top: 8px;
  margin-top: 8px;
}

.theme-doc-sidebar-item-category-level-1:first-child {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}

[data-theme='dark'] .theme-doc-sidebar-item-category-level-1 {
  border-top-color: rgba(255, 255, 255, 0.1);
}