@font-face{
  font-family: "Denim INK";
  src : url('/fonts/DenimINK-Bold.woff');
  font-weight: bold;
}

@font-face{
  font-family: "Denim INK";
  src : url('/fonts/DenimINK-Bold.woff2');
  font-weight: bold;
}

@font-face{
  font-family: "Denim INK";
  src : url('/fonts/DenimINK-Medium.woff');
  font-weight: medium;
}

@font-face{
  font-family: "Denim INK";
  src : url('/fonts/DenimINK-Medium.woff2');
  font-weight: medium;
}

@font-face{
  font-family: "Denim INK";
  src : url('/fonts/DenimINK-Regular.woff');
  font-weight: Regular;
}

@font-face{
  font-family: "Denim INK";
  src : url('/fonts/DenimINK-Regular.woff2');
  font-weight: Regular;
}

@font-face{
  font-family: "Inter Variable";
  src : url('/fonts/InterVariable.woff2');
  // font-weight: bold;
}

// @font-face{
//   font-family: "Inter Variable";
//   src : url('/fonts/InterVariable-Italic.woff2');
//   // font-weight: Italic;
// }
